<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cam</title>
    <script src="app.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="buttons">
        <h1>Webcam Testing</h1>
        <button onclick="startWebcam()">Turn On Cam</button>
        <button onclick="stopWebcam()">Turn Off Cam</button>
    </div>
    <video id="web-vid" autoplay="true"></video>
</body>

</html>