h1 {
    color: #424242;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.buttons {
    background: #45fce4;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 1.5rem;
    cursor: pointer;
}

video {
    width: 525px;
    height: 400px;
    margin-top: 5rem;
    transform: rotate(270deg);
}